:root {
  --surface-ground: var(--p-surface-100);
}

:root[class*="app-dark"] {
  --surface-ground: var(--p-surface-950);
}

html {
  font-size: 14px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--surface-ground);
}
.ql-snow {
  img {
    display: inline-block;
  }
}
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
@import "@enzedonline/quill-blot-formatter2/dist/css/quill-blot-formatter2.css";
@import "primeicons/primeicons.css";
