:root {
  --surface-ground: var(--p-surface-100);
}

:root[class*="app-dark"] {
  --surface-ground: var(--p-surface-950);
}

html {
  font-size: 14px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--surface-ground);
}

@import "primeicons/primeicons.css";
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
